.nav-container{
    background: rgba(0, 0, 0, 1);
    height: 4rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

.nav-container li {
    float: left;
  }



.nav-container p{
    text-decoration: none;
    color: white;
    display: block;
    margin-left: 5rem;
    font-size: 1.5rem;
}

.nav-container p:hover{
  text-shadow: 2px 2px 3px orange ;
}