.App {
  text-align: center;
  }

*{
  margin-top: 0;
  margin-bottom: 20px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

.ProjectDisplay {
  color: black;
}

.App-body {
  background-color: white;
  min-height: 50rem;
  margin-top: -10px;
}

#pp {
  font-size: 35px;
  color: black;
}

#name {
  margin-top: 10px;
}