.App {
  text-align: center;
  }


.App-header {
  background-color: #282c34;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

#profil {
  border-radius: 50%;
  width: 15%;
  height: 15%;

}

#profil:hover {
  opacity: 50%;
}


.top{
  background-color: #ffffff imp !important;
}

.maintext{
  font-size: 17.5px;
  width: 50%;
  margin-left: 25%;
  text-align: justify;
  text-justify: inter-word;
  color: black;}

.title{
font-size: 35px;
}



h1{
  color: rgb(95, 95, 95);
  font-size: 3rem;
}


.ProjectDisplay {
  color: black;
}

.App-body {
  background-color: black;
  min-height: 50rem;
  margin-top: -10px;
}

#pp {
  font-size: 35px;
  color: black;
}

#name {
  margin-top: 10px;
}

.thumb-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(0, 0, 0);
  height: 110%;
}


.thumbnail{
  background-color: white;
  width:100%;
  height: 25rem;
  border-radius: 1%;
  float: right;
  margin:10px;
}

.thumbnail:hover {
  box-shadow: 15px 15px 15px orange;
}



.thumb-title{
  font-size: 30px;
  text-decoration: none;
  color:black
}

.thumb-cat{
  color: black;
}

a:link {
  text-decoration: none;
}


/* For footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
